<h1>Showing ToDo #<%= @todo.id %></h1>
<p>
  Name: <%= @todo.name %>
</p>
<p>
  Description: <%= @todo.description %>
</p>
<p>
  <%= link_to "Edit ToDo", edit_todo_path %> | 
  <%= link_to "Show All", todos_path %>
</p>